<template name = "roles">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"> Role Management</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-hover table-striped">
        <thread>
          <th>
            User Name
          </th>
          <th>
            View Projects
          </th>
          <th>
            Edit Projects
          </th>
          <th>
            View Members
          </th>
          <th>
            Edit Members
          </th>
        </thead>
        <tbody>
          {{>role}}
        </tbody>
      </table>
    </div>
    <div class="panel-footer">

    </div>
  </div>
</template>
<template name = "role">
  <tr>
    <td>
      {{username}}
    </td>
    <td>
      <input type="checkbox" name="viewprojects" value="">
    </td>
    <td>
      <input type="checkbox" name="editprojects" value="">
    </td>
    <td>
      <input type="checkbox" name="viewmembers" value="">
    </td>
    <td>
      <input type="checkbox" name="editmembers" value="">
    </td>


  </tr>
</template>
