<template name="home">
  <div class="template-home">
    <div class="page-header">
      <div class="jumbotron">
        <h1>Welcome to CasualDay</h1>
        <h2>DressCode for TODAY</h2>
      </div>
        <p>
          Our lawFirm  recommands suits for the day!!!
          Dress sharp!!!
        </p>


    </div>
    <div class="container">
      <div class="row">
        <div class= "col-lg-4">
          <h2><i class="fa fa-users"></i>Comments</h2>
          <p>
            Invite people to rate.
          </p>
      </div>
        <div class= "col-lg-4">
          <h2><i class="fa fa-twitch"></i>Comments</h2>
          <p>
            comments
          </p>
      </div>
      <div class="col-lg-4">
        <h2><i class="fa fa-inbox"></i>Messages</h2>
        <p>
          messsages
        </p>
      </div>

    </div>
  </div>
</div>
</template>
