<template name = "members">
  <ol class = "breadcrumb">
    <li><a href = "{{pathFor 'home'}}"><i class = "fa fa-home"></i> Home</a></li>
    <li><i class = "fa fa-university"></i> Members</li>
  </ol>
  <div class = "col-md-12">
    <div class = "page-header">
    <p>
      <input type = "text" placeholder  = "Add A Member" name = "membername" class = "membername biginput" value = "">
    </p>
  </div>
  <h5>Members listed by <a class = "sortToggleMember" href = "#"> name</a></h5>
  {{#each members}}
  {{>member}}
  {{else}}
  <h5>No Members Found!</h5>
  {{/each}}
  </div>
</template>
<template name = "member">
  <div class = "col-md-3">
    <div class = "panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
          Member Name
        </h3>
      </div>
      <div class = "panel-body">
        <p>
          <span class = "text-muted">Member info</span>
        </p>
        <p>
          <span class = "text-muted">Other Member info</span>
        </p>
      </div>

    </div>
  </div>
</template>
